<!doctype html>
<html lang="en">
  <head>
    <title>After We Saved the World</title>
    <meta charset="utf-8">
    <style type="text/css">{{include:style.css}}</style>
  </head>
  <body>
    <h1>After We Saved the World</h1>
    <noscript>
      <p class="error">Error: This is a video game.
	It won’t work without JavaScript enabled.</p>
    </noscript>
    <script>{{include:load.js}}</script>
  </body>
</html>
