html, body {
    background-color: #333;
    margin: 0.5rem;
}

h1 {
    color: #ccc;
    margin: 0;
}

.error {
    border: 0.2rem solid red;
    border-radius: 0.5rem;
    background-color: white;
    padding: 1rem;
    font-size: 1.25rem;
    margin: 0.5rem 0px;
}

canvas {
    width: 100%
}
